@model OnlineMuseum.Models.VehicleModelPoco
@{
    ViewBag.Title = "MoreDetails";
}

<h2>More details about the vehicle</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <h3>
                @Model.Name 
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <td class="col-md-6">
                        @Html.Label("Category of the vehicle")
                    </td>
                    <td>
                        @Model.VehicleCategory.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Brand")
                    </td>
                    <td>
                        @Model.VehicleMaker.Name
                    </td>
                </tr>
            </table>
            <div>
                @Html.Label("Description")
            </div>
            <div>
                @Model.Description
            </div>
        </div>
    </div>

 <div class="row">
     <div class="col-xs-12 col-sm-6 text-left">
         <img src="@Model.ImageUrlOfThePast" style="max-width: 100%" />
     </div>
     <div class="col-xs-12 col-sm-6 text-left">
         <img src="@Model.ImageUrlOfThePresent" style="max-width: 100%" />
     </div>
 </div>
}
<br />

@Html.ActionLink("Back", null, null, new { @class = "btn btn-default", href = Request.UrlReferrer })

@Html.ActionLink("Back to home page", "BackToHomePage", null, new { @class = "btn btn-primary" })

@Html.ActionLink("Delete vehicle", "DeleteVehicle", new { id = Model.Id }, new { @class = "btn btn-primary" })